.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.thumbnail {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.thumbnail img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid #fff;
    transition: border 0.3s;
}

.thumbnail p {
    color: white;
    font-size: 14px;
    text-align: center;
}

.thumbnail:hover img {
    border: 2px solid #00f;
}

.canvas-container {
    flex-grow: 1;
    position: relative;
}

.chat-interface-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    pointer-events: none;
    padding: 20px;
}

.chat-interface-container > div {
    pointer-events: auto;
    max-width: 300px;
}

@media (max-width: 768px) {
    .chat-interface-container {
        top: 20px;
        right: 20px;
        width: calc(100% - 40px);
    }

    .chat-interface-container > div {
        max-width: calc(100% - 60px); /* Adjust the width to avoid sidebar overlap */
    }

    .app-container {
        flex-direction: column;
    }

    .sidebar {
        position: absolute;
        left: 20px;
        top: 20px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .thumbnail {
        width: 70px;
    }

    .thumbnail img {
        width: 60px;
        height: 60px;
    }

}

@media (min-width: 769px) {
    .chat-interface-container {
        top: 20px;
        right: 20px;
        width: auto;
        height: auto;
    }
}
